<!DOCTYPE html>
<html>
<head>
<title>Anusha</title>
<link  rel="stylesheet" 
       type="text/css" 
       href="css/A01HomePage.css"/>
       <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">	   
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body class="body">
    
<ul>
        <li><a class="active" href="A01HomePage">Home</a></li>        
        <li><a href="A01lengthconverter">lengthconverter</a></li> 
        <li><a href="A01Contact">Contact</a></li>
        
              <li><a href="guest">Guestbook</a></li>
              </ul>
      <div class="container-fluid">
          <div class="row">
                     <h4>Length Converter</h4>
                     </div>
                    </ul>
                   
                 
                   


<div class="row">
<div class="col-md-10">
  
<header>
    <h1 id="basicinfo">Here is the basic information about me</h1>
<h2>Educational Background</h2>
</header>
<p class="my">I am from India and I completed my bachelors from Jyothishmathi Institute Of<br> Technology And Science in ECE department which is located in karimnagar
   <br>and now I am doing my masters in computer science department</p>
  </div>
  <div class="col-md-2">
      <img class="img-circle" src="my pic.jpg" alt="image" height="200" width="200">
      </div>
</div>
  
<div class="row1">
  <div class="col-md-10">
<h3>My Plans</h3>
<p class="my">I want to become a software engineer in one of the multi national companies</p>
</div>
<div class="col-md-2">
     
      </div>
</div>
<section>
    <div class="row">
        <div class="col-md-10">
<h4>My Interests</h4>
<iframe width="460" height="215" src="https://www.youtube.com/embed/d5oz2OZzzfc" allowfullscreen></iframe>
<p class="my">I am vey much intersted in playing games like</P>
  
<ol>
    <li>Shuttle  </li>
    <li>  Carroms  </li>
    <li>  Chess  </li>
  </ol> 
  <br>
  <p>Skills</p>
  <ol>
      <li>C  </li>
      <li>  HTML  </li>
    
    </ol> 
<P class="my"> and myhobbies are watching TV and playing with my sister and coming<br> to software programming I am intrested in web technology</p>
</div>
</div>
<div class="col-md-2">
    
     </div>
</section>
<div class="row">
    <div class="col-md-10">
    
<ul>
    <li><a href="https://github.com/s530714">GITHUB</a></li>        
    <li><a href="https://bitbucket.org/S530714/">BITBUCKET</a></li> 
    <li><a href="https://www.linkedin.com/feed/">LINKEDIN</a></li>
  </ul>

  
<footer>copyrights 2017</footer>
</div>
</div>
<div class="col-md-2">
    
     </div>
</body>
</html>