<!DOCTYPE html>
<html>
<head>
<title>Anusha</title>
<link rel="stylesheet" type="text/css" href="css/A01lengthconverter.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">	   
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
       
       <script src="js/A02.js"></script>
    </head>
<body class="body">
    <ul>
        <li><a class="active" href="A01HomePage">Home</a></li>
        <li><a href="A01lengthconverter">lengthconverter</a></li>
        <li><a href="A01Contact">Contact</a></li>
        <li><a href="guest">Guestbook</a></li>
      </ul>
                              <button type="button" onclick="alert('The page displays the Conversion from feet to meters ')">Click ME</button>
                              
    <div class="container">
             <div class="col-md-12">
                <p></p>
                </div>
                    <div class="col-md-12">
                        <p></p>
                        </div>
                        <div class="col-md-12">
                                <p></p>
                                </div>
                                <div class="col-md-12">
                                        <p></p>
                                        </div>
                                        <div class="row-md-12">
                                                <p></p>
                                                </div>
               
                                            <div class="w3-left-align"><p></p></div>
                                           
                        <div class="col-md-12">
        <h2 class="n1">Length Converter</h2>
        <div class="col-md-12">
                        <p></p>
                        </div>
                        <div class="col-md-12">
                                        <p></p>
                                        </div>
                                           
         <div class="n">             
        <p class="n">Type a value in the Feet field to convert the value to Meters:</p>
        
        <p class="n">
          <label>Feet</label>
          <input id="inputFeet" type="number" placeholder="Feet" oninput="LengthConverter(this.value)" onchange="LengthConverter(this.value)">
        </p>
        <p class="n">Feet to Meters: <span id="outputMeters"></span></p>
        <p class="n">
            <label>Kilometers</label>
            <input id="inputKilometers" type="number" placeholder="Kilometers" oninput="LengthConverter2(this.value)" onchange="LengthConverter2(this.value)">
          </p>
          <p class="n">Kilometers to Meters: <span id="outputMeters1"></span></p>
         </div>
    </div>            
                    
            </div>
            
                </body>
</html>  
    