<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Anusha</title>
        <link  rel="stylesheet" 
               type="text/css" 
               href="css/A01HomePage.css"/>
               <meta charset="UTF-8">
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">	   
               <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
               <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        </head>
        <body class="body">
            
        <ul>
                <li><a class="active" href="A01HomePage">Home</a></li>        
                <li><a href="A01lengthconverter">lengthconverter</a></li> 
                <li><a href="A01Contact">Contact</a></li>
                <li><a href="guest">Guestbook</a></li>
              </ul>
                   
            
        <h1>
            Anusha's Guestbook
            <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
        </h1>